@model App1_withMVC.Models.StudentModel

@{
    ViewData["Title"] = "LockedAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color:white ; background:red ; height:50px ; width:500Px ; padding:5px ;">Locked Account</h1>

<h3> Account is Locked because of multiple failed attempts</h3>

</br>
</br>
</br>
</br>
</br>


<a asp-action="LoginForm" style="color:black ; background-color:burlywood ">Go back to Login Page</a>

